.a-type {
	font-size: 16px;
	background: lightgray;
	padding: 4px 8px;
	border-radius: 8px;
}

.a-type.-link {
	background: orange;
}

.m-card {
	display: grid;
	grid-template-rows: repeat(3, min-content) 1fr min-content;
	grid-row-gap: 8px;
	grid-template-areas: 
		"type     "
		"title    "
		"energy   "
		"effects  "
		"connect  ";
	min-width: 200px;
	min-height: 300px;
	padding: 12px;
	border: 2px solid blue;
	border-radius: 12px;
}

.m-card__title {
	grid-area: title;
	margin: 0;
	font-size: 24px;
}

.m-card__type {
	grid-area: type;
	margin: 0;
	text-align: right;
}

.m-card__energy {
	grid-area: energy;
	margin: 0;
	font-size: 16px;
}

.m-card__effects {
	grid-area: effects;
	display: grid;
	grid-row-gap: 8px;
	grid-auto-rows: min-content;
}

.m-card__connection {
	grid-area: connect;
	margin: 0;
	font-size: 16px;
}

.m-card * {
	pointer-events: none;
}

/* empty card */

.m-card.-none {
	border-style: dashed;
}

/* discarded card */

.m-card.-discarded {
	display: flex;
	min-width: auto;
	min-height: auto;
	color: gray;
	border-color: gray;
	margin-bottom: 12px;
}

.m-card.-discarded > .m-card__title {
	font-size: 16px;
}

.m-card.-discarded > .m-card__type {
	display: none;
}

.m-card.-discarded > .m-card__energy {
	display: none;
}

.m-card.-discarded > .m-card__effects {
	display: none;
}

.m-card.-discarded > .m-card__connection {
	display: none;
}

/* disabled */

.m-card[disabled],
.m-card[disabled] * {
	color: gray !important;
	background: lightgray !important;
	border-color: gray !important;
}