.a-type {
	font-size: 16px;
	background: lightgray;
	padding: 4px 8px;
	border-radius: 8px;
}

.a-type.-link {
	background: plum;
}

/* card info */

.m-cardInfo {
	transition: background-color 0.2s;
	grid-area: info;
	display: flex;
	grid-row-gap: 8px;
	justify-content: space-between;
	align-items: center;
}

.m-cardInfo__type {
	grid-area: type;
	margin: 0;
	text-align: center;
}

.m-cardInfo__energy {
	transition: background-color 0.2s;
	grid-area: energy;
	text-align: center;
	font-size: 18px;
	background: none;
	color: black;
	padding: 4px 8px;
	border-radius: 24px;
	margin: 0;
}

.m-cardInfo__sexergy {
	transition: background-color 0.2s;
	grid-area: sexergy;
	text-align: center;
	background: none;
	font-size: 18px;
	padding: 4px 8px;
	border-radius: 24px;
	margin: 0;
}

.m-card {
	box-sizing: border-box;
	transition: background-color 0.2s;
	display: grid;
	grid-template-rows: repeat(2, min-content) 1fr 2fr min-content;
	grid-row-gap: 4px;
	grid-template-areas: 
		"info     "
		"title    "
		"type     "
		"effects  "
		"connect  ";
	min-width: 240px;
	min-height: 320px;
	padding: 12px;
	background: none;
	border: 2px solid goldenrod;
	border-radius: 12px;
}

.m-card.-captain {
	border-color: blue;
}

.m-card.-crew {
	border-color: hotpink;
}

.m-card__title {
	grid-area: title;
	margin: 0;
	margin-bottom: 8px;
	font-size: 24px;
	text-align: center;
}

.m-card__effects {
	grid-area: effects;
	display: grid;
	grid-row-gap: 8px;
	grid-auto-rows: min-content;
}

.m-card__connection {
	grid-area: connect;
	margin: 0;
	font-size: 16px;
}

.m-card * {
	pointer-events: none;
}

/* hover */

.m-card.-player:hover {
	background-color: lavender;
}

.m-card.-player:hover .m-cardInfo__energy {
	background-color: darkorange;
}

.m-card.-player:hover .m-cardInfo__sexergy {
	background-color: pink;
}

/* empty card */

.m-card.-none {
	background: none;
	border-style: dashed;
}

/* discarded card */

.m-card.-discarded {
	display: flex;
	min-width: auto;
	min-height: auto;
	background: lightgray;
	color: gray;
	border-color: gray;
	margin-bottom: 12px;
}

.m-card.-discarded > .m-card__title {
	font-size: 16px;
}

.m-card.-discarded > .m-cardInfo {
	display: none;
}

.m-card.-discarded > .m-cardInfo__type {
	display: none;
}

.m-card.-discarded > .m-card__effects {
	display: none;
}

.m-card.-discarded > .m-card__connection {
	display: none;
}

/* disabled */

.m-card[disabled],
.m-card[disabled] * {
	color: gray !important;
	background: lightgray !important;
	border-color: gray !important;
}