.m-effectBlock {
	display: grid;
	grid-row-gap: 8px;
	box-sizing: border-box;
	background: lightgray;
	color: gray;
	padding: 8px;
	border: 2px solid transparent;
}

.m-effectBlock.-active {
	background: lightblue;
	color: black;
}

.m-effectBlock__condition {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 8px;
}

.a-effectList {
	display: grid;
	grid-row-gap: 8px;
	list-style: none;
	padding: 0;
	margin: 0;
}