.o-gameplay {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-column-gap: 48px;
}

.m-discardPile {
	list-style: none;
	padding: 0;
	padding-right: 12px;
	margin: 0;
	overflow-y: auto;
	max-height: 340px;
}