.m-playerBar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	list-style: none;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.m_playerBar__item {
	padding: 8px;
}

.m_playerBar__item.-energy {
	background: orange;
	color: white;
	text-align: center;
	border-radius: 24px;
}