.a-progress {
	position: relative;
	background: darkgray;
	width: 100%;
	height: 32px;
}

.a-progress__foreground {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: hotpink;
}

.a-progress__text {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.a-progress.-reversed > .a-progress__foreground {
	left: initial;
	right: 0;
}