.m-streakCounter {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	justify-content: center;
	min-width: 180px;
	background: lightgray;
	font-size: 14px;
	padding: 4px;
}

.m-streakCounter__name {
	margin: 0;
}

.m-streakCounter__text {
	margin: 0;
	text-align: center;
}