#root {
	display: grid;
	grid-row-gap: 16px;
	padding: 12px;
}

.m-buttonBar {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 16px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.m-howToPlay {
	max-width: 33vw;
}

.o-explain {
	display: grid;
	grid-template-columns: 1fr 1fr;
}